/* Date : 03/05/17
* Auteur : Yros <yros.tw@gmail.com>
* Description : Ajout des éléments .css élémentaires au forum.
* Version : 1.0
*/

/* Importation des fichiers liés */
@import url('https://fonts.googleapis.com/css?family=Cinzel|Great+Vibes|Lora|Tangerine');
	/* HOW TO USE :
		font-family: 'Lora', serif;
		font-family: 'Cinzel', serif;
		font-family: 'Tangerine', cursive;
		font-family: 'Great Vibes', cursive;
	*/
@import url('https://cdn.rawgit.com/Yros/CSS/981dfa15/hover.css');
	/* Usage Example :
		http://ianlunn.github.io/Hover/
	*/

/* Formatage Texte Entre-Monde */
p {
	font-family: 'Lora', serif;
	font-size: 11px;
	font-style: italic;
	text-align: justify;
	text-shadow: 1px 2px 25px #FFF;
	text-indent: 10px; "
}
p::first-letter {
	font-family: 'Tangerine', cursive;
	font-size: 42px;
	text-transform: capitalize;
	color: #FFF;
	float: left;
}
.dialogue {
	font-family: 'Lora', serif;
	font-size: 16px;
	color: #eaffea;
	text-shadow: 0px 2px 3px #FFF;
}


/* Bubbles */
.bubble
{
position: relative;
width: 155px;
height: 50px;
padding: 3px;
background: #FFFFFF;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border: #7F7F7F solid 1px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 0 15px 15px;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
margin-top: -15px;
right: -15px;
top: 50%;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 0 15px 15px;
border-color: transparent #7F7F7F;
display: block;
width: 0;
z-index: 0;
margin-top: -15px;
right: -16px;
top: 50%;
}

/* DIVERS */
@keyframes fadeIn { 0% { opacity: 0; height: 0; } 100% { opacity: 1; height: auto; } }

.animation {
	transition: all 3s;
	opacity: 0;
	height: 0;
	animation: 5s fadeIn;
	animation-fill-mode: forwards;
	overflow: hidden;
}
