/* Date : 03/05/17
* Auteur : Yros <yros.tw@gmail.com>
* Description : Ajout des éléments .css élémentaires au forum.
* Version : 1.0
*/

/* Importation des fichiers liés */
@import url('https://fonts.googleapis.com/css?family=Cinzel|Great+Vibes|Lora|Tangerine');
	/* HOW TO USE :
		font-family: 'Lora', serif;
		font-family: 'Cinzel', serif;
		font-family: 'Tangerine', cursive;
		font-family: 'Great Vibes', cursive;
	*/
@import url('https://cdn.rawgit.com/Yros/CSS/981dfa15/hover.css');
	/* Usage Example :
		http://ianlunn.github.io/Hover/
	*/

/* Formatage Texte Entre-Monde */
p {
	font-family: 'Lora', serif;
	font-size: 11px;
	font-style: italic;
	text-align: justify;
	text-shadow: 1px 2px 25px #FFF;
	text-indent: 10px; "
}
p::first-letter {
	font-family: 'Tangerine', cursive;
	font-size: 42px;
	text-transform: capitalize;
	color: #FFF;
	float: left;
}
.dialogue {
	font-family: 'Lora', serif;
	font-size: 16px;
	color: #eaffea;
	text-shadow: 0px 2px 3px #FFF;
}

@keyframes fadeIn { 0% { opacity: 0; height: 0; } 100% { opacity: 1; height: auto; } }

.animation {
	transition: all 3s;
	opacity: 0;
	height: 0;
	animation: 5s fadeIn;
	animation-fill-mode: forwards;
	overflow: hidden;
}

[class^="hvr-"] {
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  /* Smooth fonts */
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}